<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>L'Arbre à Pages - Atelier de reliure d'art Nancy</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <meta name="keywords"
        content="livre d'or, album photos, coffret, reliure, atelier, artisanale, personnalisable, sur mesure">
    <meta name="description"
        content="Atelier de Reliure d'Art à Nancy spécialisé dans la conception de livres d'or, albums photos et coffrets haut de gamme. Créations artisanales et personnalisées">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="content-language" content="fr">
    <meta name="p:domain_verify" content="bb7ac9b573e24acd83f777d5a1833286" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@larbreapages">
    <meta name="twitter:url" content="https://larbreapages.fr">
    <meta name="twitter:title" content="L'Arbre à Pages - Atelier de reliure d'art Nancy">
    <meta name="twitter:description"
        content="Atelier de Reliure d'Art à Nancy spécialisé dans la conception de livres d'or, albums photos et coffrets haut de gamme. Créations artisanales et personnalisées">
    <meta name="twitter:image" content="https://cdn.rawgit.com/larbreapages/larbreapages/master/src/images/logo.png">

    <!-- Facebook -->
    <meta property="og:url" content="https://larbreapages.fr">
    <meta property="og:type" content="website">
    <meta property="og:title" content="L'Arbre à Pages - Atelier de reliure d'art Nancy">
    <meta property="og:image" content="https://cdn.rawgit.com/larbreapages/larbreapages/master/src/images/logo.png">
    <meta property="og:description"
        content="Atelier de Reliure d'Art à Nancy spécialisé dans la conception de livres d'or, albums photos et coffrets haut de gamme. Créations artisanales et personnalisées">
    <meta property="og:site_name" content="L'Arbre à Pages">
    <meta property="og:locale" content="fr_FR">

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <section id="home" class="hero">
        <div class="hero-head">
            <div class="nav nav-scrolled">
                <div class="container">
                    <div class="nav-left">
                        <a class="nav-item">
                            <img src="../images/logo.svg" alt="logo" width="28">
                            <span>&nbsp;&nbsp;L'Arbre à Pages</span>
                        </a>
                    </div>
                    <div class="nav-right nav-menu">
                        <a class="nav-item is-tab is-hidden-mobile is-active" href="/#home">
                            <span class="icon">
                                <i class="fa fa-home"></i>
                            </span>
                            <span>Accueil</span>
                        </a>
                        <a class="nav-item is-tab is-hidden-mobile" href="/#services">Services</a>
                        <a class="nav-item is-tab is-hidden-mobile" href="/#portfolio">Portfolio</a>
                        <a class="nav-item is-tab" href="/#testimonials">Témoignages</a>
                        <a class="nav-item is-tab" href="/#contact">Contact</a>
                        <a class="nav-item is-tab is-hidden-mobile" href="/#about">À propos</a>
                        <a class="nav-item is-tab is-hidden-mobile" target="_blank" href="http://lart-reliure.fr/">Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="legal">
        <div class="container">
            <h1>
                Mentions Légales
            </h1>

            <dl>
                <dt>
                    POOL D’AVENIR&nbsp;:
                </dt>
                <dd>
                    Association – Couveuse d’entreprises
                </dd>
                <dt>
                    Siège social&nbsp;:
                </dt>
                <dd>
                    12 rue Victor Hugo 55800 REVIGNY SUR ORNAIN
                </dd>
                <dt>
                    Mail&nbsp;:
                </dt>
                <dd>
                    contact[at]poolavenir.fr
                </dd>
                <dt>
                    SIRET&nbsp;:
                </dt>
                <dd>
                    850 290 750 00015 - APE 7022Z
                </dd>
                <dt>
                    Organisme de formation enregistré auprès du Préfet de Région Lorraine sous le numéro&nbsp;:
                </dt>
                <dd>
                    44550052755
                </dd>
            </dl>


            <h2>
                Éditeur du site&nbsp;:
            </h2>
            <dl>
                <dt>
                    Responsable de publication&nbsp;:
                </dt>
                <dd>
                    Camille AUBERT - Valérie OSMONT, cogérante
                </dd>
                <dt>
                    Mail du responsable de la publication&nbsp;:
                </dt>
                <dd>
                    contact@larbreapages.fr
                </dd>
                <dt>
                    Design et développement&nbsp;:
                </dt>
                <dd>
                    Ethibox
                </dd>
                <dt>
                    Webmaster du site&nbsp;:
                </dt>
                <dd>
                    Camille Aubert
                </dd>
                <dt>
                    Hébergeur&nbsp;:
                </dt>
                <dd>
                    Scaleway, 8 rue de la ville l’Evêque - 75008 Paris, FRANCE
                </dd>
                <dt>
                    Crédits photo&nbsp;:
                </dt>
                <dd>
                    ©Camille AUBERT
                </dd>
            </dl>

            <h2>
                Propriété intellectuelle&nbsp;:
            </h2>
            <p>
                Le site internet « www.larbreapages.fr » est une œuvre de l’esprit protégée par les lois sur la
                propriété intellectuelle. Tous les contenus textuels et graphiques de ce site sont la propriété
                exclusive de
                Camille AUBERT - POOL D’AVENIR. Les photographies sont la propriété de leurs auteurs respectifs.
            </p>

            <h2>
                Liens&nbsp;:
            </h2>
            <p>
                Il est possible de faire des liens vers la page d’accueil du site sans autorisation préalable, par
                contre tous les liens profonds vers des pages internes ou vers des documents du site doivent avoir fait
                l’objet d’une autorisation explicite de la part de Camille AUBERT – POOL D’AVENIR.
            </p>

            <h2>
                RGPD&nbsp;: protection de vos données personnelles
            </h2>
            <p>
                Nous collectons des données afin de gérer votre commande. Nous n'utilisons pas votre adresse
                électronique
                pour vous adresser des publicités concernant des produits analogues à ceux que vous commandez.
            </p>

            <p>
                <dl>
                    <dt>Données collectées&nbsp;:</dt>
                        <dd>
                            Nom, prénom, adresse et adresse de livraison (si différente de l’adresse
                            principale), émail, téléphone.
                        </dd>
                    
                </dl>
            </p>

            <p>
                Ces données ne sont pas revendues à des partenaires commerciaux.
            </p>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    &copy;2016-2021 L'Arbre à Pages.<br>
                    Partenaires : <a href="http://synercoop.org/" target="_blank" class="bold">Synercoop</a>, <a href="https://www.jesuisreparateur.fr" class="bold" target="_blank">JeSuisReparateur</a>
                </p>
                <p>L'Arbre à Pages fait partie de la couveuse <a href="https://www.poolavenir.fr" target="_blank">Pool
                        d'Avenir</a>.</p>
                        <p><a href="/legal.html">Mentions légales</a></p>
                <ul class="links">
                    <li>
                        <a href="https://facebook.com/larbreapages/" class="icon" target="_blank"><i
                                class="fa fa-facebook-official"></i></a>
                    </li>
                    <li>
                        <a href="https://instagram.com/larbreapagesfr/" class="icon" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCeYKjYmcd13InU6G_ZO73WQ" class="icon"
                            target="_blank"><i class="fa fa-youtube-play"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/larbreapages" class="icon" target="_blank"><i
                                class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://pinterest.com/larbreapages/" class="icon" target="_blank"><i
                                class="fa fa-pinterest"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/larbreapages/larbreapages" class="icon" target="_blank"><i
                                class="fa fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>