<header class="center">
    <h1>L'arbre à Pages</h1>
    <div class="logos">
        <a href="mailto:contact@larbreapages.fr" title="Mon e-mail"><i class="fa fa-envelope fa-1x"></i></a>
        <a href="https://www.facebook.com/larbreapages/" target="_blank" title="Mon Facebook"><i class="fa fa-facebook-official fa-1x"></i></a>
        <a href="https://www.etsy.com/fr/shop/LarbreApages" target="_blank" title="Ma boutique Etsy"><img src="../images/etsy.svg" class="etsy" width="13" height="13"></a>
        <a href="https://www.alittlemarket.com/boutique/larbreapages-2871235.html" target="_blank" title="Ma boutique AlittleMarket"><img src="../images/alittlemarket.png" class="alittlemarket" width="13" height="13"></a>
        <a href="https://github.com/larbreapages/larbreapages" target="_blank" title="Open-source"><i class="fa fa-github fa-1x"></i></a>
    </div>
</header>
<main class="center">
    <a href="https://www.etsy.com/fr/shop/LarbreApages?section_id=19678790"><img src="../images/logo2.png"></a>
    <a href="https://www.etsy.com/fr/shop/LarbreApages"><img src="../images/logo.png"></a>
    <a href="#"><img src="../images/logo3.png"></a>
    <ul>
        <li><a href="https://www.etsy.com/fr/shop/LarbreApages?section_id=19678790">GAMME PAPETERIE</a></li>
        <li><a href="https://www.etsy.com/fr/shop/LarbreApages">GAMME PREMIUM</a></li>
        <li><a href="#">GAMME COFFRET</a></li>
    </ul>
    <div class="card">
        <p class="name">CAMILLE  AUBERT</p>
        <p class="shop">Atelier de Reliure d’Art</p>
        <p class="services">Reliure - Coffret - Papeterie</p>
    </div>
</main>
<footer class="center">
    <p>@copyright 2016 www.larbreapages.fr Tous droits réservés</p>
    <p>L'Arbre à Pages est membre de la coopérative d'activités et d'entrepreneurs Synercoop, 8 rue du cachon 55800 LAIMONT - RCS 788601797</p>
</footer>
