@include tablet {
    .logo {
        width: 200px;
    }

    .hero-head .nav-item {
        font-size: 1.35rem;
    }

    .title {
        font-size: $size-3;
    }

    h1.logo-title {
        font-size: 4rem;
    }

    .button {
        font-size: 1.45rem;
    }

    .border {
        @include border;
    }

    #gallery div, #gallery img {
        height: 200px;
    }

    #gallery {
        margin-left: 0px;
        margin-right: 0px;
    }

    .card {
        margin: 0px;
    }

    #contact {
        text-align: inherit;
    }

    .hero-body .subtitle {
        margin-bottom: 0px;
    }

    .hero-body p {
        font-size: 1.45rem;
        margin: 10px 0;
    }

    .hero-body .buttons {
        margin-top: 20px;
    }

    section:not(#home) h1 {
        margin-bottom: 50px;
    }

    .tabs a {
        padding: 0.5em 1em;
    }

    .tabs.is-large {
        font-size: 1.5rem;
    }
}

