@include tablet {
    .logo {
        width: 200px;
    }

    .hero-head .nav-item {
        font-size: 1.35rem;
    }

    .subtitle {
        font-size: 1.65rem;
    }

    q {
        font-size: 1.45rem;
    }

    h1.logo-title {
        font-size: 4rem;
    }

    h1.title {
        font-size: $size-3;
    }

    .button {
        font-size: 1.45rem;
    }

    .border {
        @include border;
    }

    #portfolio div {
        height: 250px;
    }

    #portfolio img {
        height: 250px;
    }

    .card {
        margin: 0px;
    }

    #contact {
        text-align: inherit;
    }

    #contact iframe {
        width: 500px;
    }

    section {
        margin-bottom: 50px;
    }
}

