@import "~normalize.css/normalize.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "bootstrap-override.scss";
@import "slider.scss";
@import "~bookbuilder/dist/index.css";
