@import "base.scss";
@import "~normalize.css/normalize.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~bulma/bulma.sass";

.hero {
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/background.jpg');
    background-position:center center;
    background-size: cover;
}

.logo {
    width: 150px;
}

::selection {
    background: $primary;
}

.hero-foot .has-text-right {
    margin-right: 15px;
}
