@font-face {
    font-family: "Raleway";
    src: url('../fonts/raleway.woff2');
}

@font-face {
    font-family: "GoodVibrations";
    src: url('../fonts/goodvibrationsscript.ttf');
}

::selection {
    background: $primary;
    color: white;
}

h1 {
    font-size: $size-1;
}

h2 {
    font-size: $size-2;
}

h3 {
    font-size: $size-3;
}

h4 {
    font-size: $size-4;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.hide {
    display: none;
}

// NAVBAR

.nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

.nav {
    transition: 0.3s;
}

.hero .nav.nav-scrolled {
    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.1);
    background-color: rgb(248, 248, 248);
}

.nav.nav-scrolled a.nav-item,
.nav.nav-scrolled a.nav-item.is-active,
.nav.nav-scrolled a.nav-item:hover {
    color: $text;
}

// HEADER

.hero {
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/background.jpg');
    background-position:center center;
    background-size: cover;
}

.hero .logo {
    width: 200px;
    margin-bottom: -15px;
}

.hero .logo-title {
    font-family: "GoodVibrations";
    color: $primary;
}

.hero .title {
    font-size: $size-4;
}

.hero .hero-body .button {
    margin-bottom: 10px;
    transition: 0.3s;
}

.hero .button.is-primary.is-inverted:hover {
    color: $primary;
    border: 1px solid $primary;
}

.hero .button.is-primary.is-inverted {
    background-color:transparent;
    color: white;
    border: 1px solid white;
}

.hero .hero-foot {
    padding-right: 5px;
}

.hero .hero-foot a:hover {
    color: $primary;
}

// SECTION

section:not(#home) {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h3 {
    font-size: $size-1;
    margin-bottom: 50px;
}

section:nth-child(odd) {
    background-color: #F5F5F5;
}

// SERVICES

#services .fa {
    padding: 30px;
}

#services .column div {
    margin-bottom: 20px;
}

#services .column > p {
    text-align: justify;
    margin-right: 10px;
    margin-left: 10px;
}

// PORTFOLIO

#portfolio .tabs {
    font-size: 16px;
}

#portfolio .tabs i {
    font-size: 25px;
}

#portfolio .tabs a {
    padding: 0.5em 0.5em;
}

// GALLERY

#gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
}

#gallery::after {
    content: '';
    flex-grow: 999999999;
}

#gallery div {
    flex-grow: 1;
    height: 100px;
    margin: 2px;
}

#gallery img {
    height: 100px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom;
}

// CONTACT

#contact iframe {
    width: 100%;
    padding: 0px 10px;
}

#contact .columns {
    margin-top: 10px;
}

// TESTIMONIALS

#testimonials .is-circle {
    width: 160px;
    height: 160px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    border-radius: 50%;
}

#testimonials q {
    font-size: $size-5;
}

#testimonials q:before {
    padding-right: 10px;
}

#testimonials q:after {
    padding-left: 10px;
}

// ABOUT

#about p {
   margin: 0px 10px;
   text-align: justify;
}

// FOOTER

.footer {
    padding: 3rem 1.5rem 2rem;
}
