::selection {
    background: $primary;
    color: white;
}

@font-face {
    font-family: "GoodVibrations";
    src: url('../fonts/goodvibrationsscript.ttf');
}

.hero {
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/background.jpg');
    background-position:center center;
    background-size: cover;
}

h1.logo-title {
    margin-bottom: 0rem!important;
}

.logo {
    width: 125px;
    margin-bottom: -15px;
}

h1.logo-title {
    font-family: "GoodVibrations";
    color: $primary;
    font-size: 40px;
}

.hero-foot .has-text-right {
    margin-right: 15px;
}

.hero-foot a:not(:last-child) {
    margin-right: 5px;
}

.hero-foot a:hover {
    color: $primary!important;
}

h1.title {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.35rem;
}

p.quote {
    margin-bottom: 1.5rem!important;
}

// Buttons

.hero-body .button {
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 0px;
}

.hero-body a.button:last-child {
    margin-left: 10px;
}

.button.is-primary.is-inverted:hover {
    color: $primary;
    border: 1px solid $primary;
}

.button.is-primary.is-inverted {
    background-color:transparent;
    color: white;
    border: 1px solid white;
}

// Navbar

.nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

.nav-left::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: $size-1;
    margin-bottom: 20px;
}

h2 {
    font-size: $size-2;
}

h3 {
    font-size: $size-3;
}

h4 {
    font-size: $size-4;
}

// Portfolio

#portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
}

#portfolio::after {
  content: '';
  flex-grow: 999999999;
}

#portfolio div {
  flex-grow: 1;
  margin-right: 5px;
  margin-bottom: 5px;
  height: 100px;
}

#portfolio img {
  height: 100px;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
  border: 1px solid #ddd;
}

.fa-4x {
    font-size: 4em!important;
}

.is-circle {
    border-radius: 50%;
}

.card {
    margin: 5px;
}

.footer {
    padding: 3rem 1.5rem 2rem;
}
