@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway.woff2");
}

@font-face {
    font-family: "GoodVibrations";
    src: url("../fonts/goodvibrationsscript.ttf");
}

::selection {
    background: $primary;
    color: white;
}

h1 {
    font-size: $size-1;
}

h2 {
    font-size: $size-2;
}

h3 {
    font-size: $size-3;
}

h4 {
    font-size: $size-2;
}

h5 {
    font-size: $size-5;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.hide {
    display: none;
}

hr {
    display: none;
}

.bold {
    font-weight: bold;
}

// NAVBAR

.nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

.nav {
    transition: 0.3s;
}

.hero .nav.nav-scrolled {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    background-color: rgb(248, 248, 248);
}

.nav.nav-scrolled a.nav-item,
.nav.nav-scrolled a.nav-item.is-active,
.nav.nav-scrolled a.nav-item:hover {
    color: $text;
}

// HEADER

.hero {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background.jpg");
    background-position: center center;
    background-size: cover;
}

.hero .logo {
    width: 200px;
    margin-bottom: -15px;
}

.hero .logo-title {
    font-family: "GoodVibrations";
    color: $primary;
}

.hero .title {
    font-size: $size-4;
}

.hero .hero-body .button {
    margin-bottom: 10px;
    transition: 0.3s;
}

.hero .button.is-primary.is-inverted:hover {
    color: $primary;
    border: 1px solid $primary;
}

.hero .button.is-primary.is-inverted {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.hero .hero-foot {
    padding-right: 5px;
    margin-bottom: 25px;
}

.hero .hero-foot a:hover {
    color: $primary;
    transition: 0.3s;
}

.hero .hero-foot ul li {
    display: inline;
}

// SECTION

section:not(#home) {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h4 {
    font-size: $size-1;
    margin-bottom: 50px;
}

section:nth-child(odd) {
    background-color: #f5f5f5;
}

// SERVICES

#services .container:first-child .fa {
    padding: 30px;
}

#services .container:nth-child(2) {
    margin-top: 20px;
}

#services .container:nth-child(2) .fa {
    padding: 2px;
    margin-right: 10px;
}

#services .column div {
    margin-bottom: 20px;
}

#services .column > p {
    text-align: justify;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

// PORTFOLIO

#portfolio .tabs {
    font-size: 16px;
}

#portfolio .tabs i {
    font-size: 25px;
}

#portfolio .tabs a {
    padding: 0.5em 0.5em;
}

// GALLERY

#gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
}

#gallery::after {
    content: "";
    flex-grow: 999999999;
}

#gallery div {
    flex-grow: 1;
    height: 100px;
    margin: 2px;
}

#gallery img {
    height: 100px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom;
}

// CONTACT

#contact iframe {
    width: 100%;
    padding: 0px 10px;
}

#contact .columns {
    margin-top: 10px;
}

#contact .column {
    margin-bottom: 1rem;
}

#contact .column i + * {
    margin-top: 0.75rem;
}

// TESTIMONIALS

#testimonials .is-circle {
    width: 160px;
    height: 160px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    filter: grayscale(100%);
    background-size: cover;
    margin: auto;
    margin-bottom: 10px;
}

#testimonials q {
    font-size: $size-6;
}

#testimonials q:before {
    padding-right: 10px;
}

#testimonials q:after {
    padding-left: 10px;
}

// ABOUT

#about p {
    margin: 0px 10px;
    margin-bottom: 20px;
    text-align: justify;
}

#about img.profil {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 2%;
}

#about p.name {
    font-size: 13px;
    text-align: center;
}

//Legals page
#legal {
    line-height: 1.75;

    .container{
        max-width: 60rem;
        padding: 2rem 1rem;
    }
    h2 {
        margin-top: 1.5rem;
        font-size: 2rem;
    }
    dl dt {
        font-weight: bold;
    }
    dl dd {
        display: inline;
        margin: 0;
    }
    dl dd:after {
        display: block;
        content: "";
    }
    dl dt {
        display: inline-block;
    }
}

// FOOTER

.footer {
    padding: 3rem 1.5rem 2rem;
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

.footer .links {
    list-style: none;
    margin: 0;
}

.footer .links li {
    display: inline;
}

// MAP

#mapid {
    height: 300px;
}
