@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
    font-family: "GoodVibrations";
    src: url('../fonts/goodvibrationsscript.ttf');
}

::selection {
    background: $primary;
    color: white;
}

.hero {
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/background.jpg');
    background-position:center center;
    background-size: cover;
}

.logo {
    width: 125px;
    margin-bottom: -15px;
}

h1.logo-title {
    font-family: "GoodVibrations";
    margin-bottom: 0rem!important;
    color: $primary;
}

.title {
    font-size: $size-4;
}

.hero-foot a:hover {
    color: $primary!important;
}


p.quote {
    margin-bottom: 1.5rem!important;
}

// Buttons

.hero-body .button {
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 0px;
}

.hero-body a.button:last-child {
    margin-left: 10px;
}

.button.is-primary.is-inverted:hover {
    color: $primary;
    border: 1px solid $primary;
}

.button.is-primary.is-inverted {
    background-color:transparent;
    color: white;
    border: 1px solid white;
}

// Navbar

.nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

.nav-left::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: $size-1;
}

h2 {
    font-size: $size-2;
}

h3 {
    font-size: $size-3;
}

h4 {
    font-size: $size-4;
}

// Portfolio

#gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
}

#gallery::after {
  content: '';
  flex-grow: 999999999;
}

#gallery div {
  flex-grow: 1;
  height: 100px;
  margin: 2px;
}

#gallery img {
  height: 100px;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
}

.fa-2x {
    font-size: 2em!important;
}

.fa-4x {
    font-size: 4em!important;
}

#contact {
    text-align: center;
}

#contact iframe {
    width: 100%;
    padding: 0px 10px;
}

#services .fa {
    padding: 30px;
}

.is-circle {
    border-radius: 50%;
}

.card {
    margin: 5px;
}

.footer {
    padding: 3rem 1.5rem 2rem;
}

.hide {
    display: none;
}

.nav-scrolled {
    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.1)!important;
    background-color: rgb(248, 248, 248)!important;

    a {
        color: black!important;
    }
}

.hero {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

section#portfolio, section#contact {
    background-color: #F5F5F5;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

#services .column {
    margin-left: 10px;
}

#services img {
    margin-top: -30px;
}

#services .column div {
    margin-bottom: 20px;
}

#services .column > p {
    text-align: justify;
}

.tabs a {
    padding: 0.5em 0.4em;
}

section#about p {
   margin: 0px 10px;
   text-align: justify;
}

#testimonials .is-circle {
    max-width: 160px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

q {
    font-size: $size-5;
}

q:before {
    padding-right: 10px;
}

q:after {
    padding-left: 10px;
}

#contact .columns {
    margin-top: 10px;
}

.tabs i {
    font-size: 25px!important;
}

#about .columns {
    margin-bottom: inherit;
}

.nav {
    transition: all 0.2s ease;
}

#services .column > p {
    margin-right: 10px;
}

.tabs.is-large {
    font-size: 16px;
}

.nav a {
    font-size: inherit!important;
}
